# files
*~
*.pyc
*.swp
*.bak
*.html
.*lck*
slurm-*
.nfs*
.ipynb*
fromRsync

# directories
results/*
!results/91450833_simulation_metaData.ini
!results/91450833_simRes.pickle
data/*
!data/00000551_estimation_metaData.ini
figures
old/
notes/
log/
.mypy_cache/
slurm/
